.item {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--secondary-border-color);
    padding: 0.5rem;
}
.item img {
    width: 70px;
    height: 70px;
    border: 1px solid lightgray;
}

.total_price {
    font-weight: 600;
    color: var(--primary-dark);
    width: 7rem;
    font-size: 1.2rem;
}
.price {
    color: var(--primary-fore-color);
    width: 7rem;
    font-size: 1rem;
}
.product_title {
    width: 20rem;
}
.product_variation {
    font-size: 0.9rem;
    text-align: center;
}
.item button {
    border: none;
    background-color: transparent;
    color: var(--secondary-border-color);
    font-size: 1rem;
    height: 1rem;
}

.item input {
    height: 2rem;
    border: 1px solid var(--secondary-border-color);
    border-radius: 2rem;
    padding: 0 1rem;
    width: 3rem;
}
.item input:focus {
    outline: none;
}
