.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 250px;
}
.card img {
    width: 100%;
    height: 150px;
    border: 1px solid lightgray;
}
.product_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.card button {
    height: 2rem;
    background-color: transparent;
    border: 1px solid var(--accent-blue);
    color: var(--accent-blue);
    border-radius: 2rem;
    width: 100%;
}
.card button:hover {
    background-color: var(--accent-blue);
    color: var(--accent-fore-color);
}

.card label {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--accent-blue);
}

.stock {
    color: var(--accent-pink);
}
.card .variations_container {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
}
