.container {
  border: 1px solid var(--secondary-border-color);
  border-radius: 1rem;
  width: 50%;
}
.list_header {
  height: 4rem;
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px solid var(--secondary-border-color);
  border-radius: 1rem;
}
.list_header .info {
  display: flex;
  flex-direction: column;
}
.list_header > span {
  font-size: 1.2rem;
  font-weight: 600;
}
.list_header .total {
  font-size: 1.2rem;
}

.list_header button {
  height: 2.5rem;
  font-size: 1rem;
  background-color: var(--accent-blue);
  border: none;
  color: var(--accent-fore-color);
  border-radius: 2rem;
  width: 15rem;
  margin-top: 1rem;
}
.list_header button:hover {
  background-color: var(--accent-fore-color);
  color: var(--accent-blue);
  border: 1px solid var(--accent-blue);
}
