.categories {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
button.loadmore {
    width: 300px;
    height: 35px;
    border: none;
    background-color: var(--secondary-back-color);
    color: var(--primary-fore-color);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 1rem auto;
    display: block;
}

button.loadmore:hover {
    background-color: var(--accent-fore-color);
    border: 1px solid var(--secondary-back-color);
}
