.history_item {
    border: 1px solid var(--secondary-border-color);
    border-radius: 1rem;
    min-width: 400px;
    max-width: fit-content;
    height: auto;
    padding: 1rem;
    font-size: 0.9rem;
}

.item_header {
    display: grid;
    grid-template-columns: 70px repeat(3, 7rem);
    grid-template-rows: repeat(2, 1.5rem);
}

.item_header img {
    height: 50px;
    width: 50px;
    border: 1px solid lightgray;
    grid-column: span 1;
    grid-row: span 2;
}

.order_name {
    font-weight: 600;
    grid-column: span 3;
    justify-self: start;
    font-size: 1rem;
}
.order_date {
    grid-column: span 2;
    font-weight: 600;
    font-size: 1rem;
    color: var(--primary-fore-color);
}
.history_item a,
.history_item a:active {
    color: var(--accent-blue);
    text-decoration: none;
    font-weight: 600;
}

.item_row {
    display: flex;
    column-gap: 1rem;
    margin: 1rem 0;
}

.info_block {
    display: flex;
    flex-direction: column;
    grid-column: span 1;
}
.info_block:nth-of-type(2) {
    grid-column: span 2;
}
.info_block span:first-of-type {
    color: var(--primary-fore-color);
}
.info_block span:last-of-type {
    font-weight: 600;
}
